<div class="col-sm-6">
  <%= form_tag password_reset_path, :method => :put do %>
      <% if flash[:error] %>
          <div class="alert alert-danger"><%= flash[:error]%></div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info"><%= flash[:notice]%></div>
      <% end %>
      <h4>Update your password</h4>
      <div class="form-group">
        <%= password_field_tag :password, '', maxlength: '', size: '', class: 'form-control', placeholder: 'New password'  %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password_confirmation, '', maxlength: '', size: '', class: 'form-control', placeholder: 'Confirm new password' %>
      </div>
      <div class="actions">
        <%= submit_tag 'Update Password', class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>


