<!DOCTYPE html>
<html>
<head>
  <title>Pbs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/top_navigation_bar' %>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-11">
      <%= yield %>
    </div>
</body>
</html>
